<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    color="dark"
    (ionChange)="segmentChanged($event.detail.value)"
    value="profile"
  >
    <ion-segment-button value="profile">
      <ion-label>Profile</ion-label>
    </ion-segment-button>
    <ion-segment-button value="request">
      <ion-label>Request</ion-label>
    </ion-segment-button>
    <ion-segment-button value="response">
      <ion-label>Response</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segment==='profile'">
    <ion-list *ngIf="userInfo.name!==undefined">
      <ion-item>Name {{userInfo.name}}</ion-item>
      <ion-item>familyName {{userInfo.familyName}}</ion-item>
      <ion-item>email {{userInfo.email}}</ion-item>
      <ion-item>spidCode {{userInfo.spidCode}}</ion-item>
    </ion-list>
  </div>
  <div *ngIf="segment==='request'">
    <pre>{{request|xmlFormatter}}</pre>
  </div>
  <div *ngIf="segment==='response'">
    <pre>{{response|xmlFormatter}}</pre>
  </div>
</ion-content>
<ion-footer>
  <ion-button color="dark" expand="block" (click)="test()"
    ><ion-label>Logout</ion-label></ion-button
  >
</ion-footer>
