<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(userSpidObs | async)">
  <ion-segment color="dark" (ionChange)="segmentChanged($event.detail.value)" value="profile">
    <ion-segment-button value="profile">
      <ion-label>Profile</ion-label>
    </ion-segment-button>
    <ion-segment-button value="request">
      <ion-label>Request</ion-label>
    </ion-segment-button>
    <ion-segment-button value="response">
      <ion-label>Response</ion-label>
    </ion-segment-button>
  </ion-segment>
    
    <div *ngIf="segment==='profile'">
      <ion-list>
        <ion-item>Name {{userSpid.attributes.name}}</ion-item>
        <ion-item>familyName {{userSpid.attributes.familyName}}</ion-item>
        <ion-item>email {{userSpid.attributes.email}}</ion-item>
        <ion-item>spidCode {{userSpid.attributes.spidCode}}</ion-item>
      </ion-list>
    </div>
    <div *ngIf="segment==='request'">
      <pre>{{userSpid.request|xmlFormatter}}</pre>
    </div>
    <div *ngIf="segment==='response'">
      <pre>{{userSpid.response|xmlFormatter}}</pre>
    </div>
  </div>
  </ion-content>
  <ion-footer>
    <ion-button color="dark" expand="block" (click)="logout()">
      <ion-label>Logout</ion-label>
    </ion-button>
  </ion-footer>